<div class="fecture-list">
  <div>
    <table>
      <tr>
        <th>Designation</th>
        <th>Quantité</th>
        <th>Prix unitaire</th>
        <th>Action</th>
      </tr>
      @for (item of facturesList; track item) {
      <tr>
        <td class="item-designation">{{ item.designation }}</td>
        <td>{{ item.quantite }}</td>
        <td>{{ item.prixUnitaire }}</td>
        <td class="action-parent">
          <button (click)="OnEdit(item.id)" class="action edit">Edit</button>
          <button (click)="onDelete(item.id)" class="action delete">Delete</button>
        </td>
      </tr>
      }
      <tr>
        <td colspan="2">Total</td>
        <td>{{ total | number:'1.2-2' }}</td>
        <td></td>
      </tr>
    </table>
  </div>

  <div class="facture-form">
    <p>Facture</p>
    <form [formGroup]="factureGroup" (ngSubmit)="onSubmit()">
      <div class="input-container input-designation">
        <label for="">Designation</label>
        <input
          formControlName="designation"
          type="text"
          placeholder="Designation"
        />
      </div>
      <div class="input-container">
        <label for="">Quantité</label>
        <input
          formControlName="quantite"
          type="number"
          placeholder="Quantité"
        />
      </div>
      <div class="input-container">
        <label for="">Prix unitaire</label>
        <input
          formControlName="prixUnitaire"
          type="number"
          placeholder="Prix unitaire"
        />
      </div>

      <button type="submit">Submit</button>
    </form>
  </div>
</div>
